<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DownloadFilePlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<DownloadFilePlan.Properties.Settings>
      <setting name="Download" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="DoEncrypt" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="LogEvery" serializeAs="String">
          <value>1000</value>
      </setting>
      <setting name="RefreshAuthTokenEveryXMinutes" serializeAs="String">
          <value>3</value>
      </setting>
      <setting name="Setting" serializeAs="String">
          <value />
      </setting>
      <setting name="MaxThreads" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="CsvOutput" serializeAs="String">
          <value>D:\zWork\Export\Reports</value>
      </setting>
      <setting name="FilesOutput" serializeAs="String">
          <value>D:\zWork\Export\Downloaded_Items</value>
      </setting>
      <setting name="ValuesToRetrieve" serializeAs="String">
          <value>Permissions,Categories</value>
      </setting>
      <setting name="MaxItemsPerFolder" serializeAs="String">
          <value>5000</value>
      </setting>
      <setting name="BlockedExtensions" serializeAs="String">
          <value>.files, _files, -Dateien, _fichiers, _bestanden, _file, _archivost, -filer, _tiedostot, _pliki, _soubory, _elemei, _ficheiros, _arquivos, _dosyalar, _datoteke, _fitxers, _failid, _fails, _bylos, _fajlovi, _fitxategiak</value>
      </setting>
      <setting name="ZipPassword" serializeAs="String">
          <value>P@ssw0rd</value>
      </setting>
      <setting name="AES_key" serializeAs="String">
          <value>./AES.key</value>
      </setting>
      <setting name="OTCS_Secret" serializeAs="String">
          <value>P@ssw0rd</value>
      </setting>
      <setting name="OTCS_Username" serializeAs="String">
          <value>Admin</value>
      </setting>
      <setting name="SecureOTCSPassword_FileName" serializeAs="String">
          <value>otcs_password</value>
      </setting>
      <setting name="SecureOTCSUsername_FileName" serializeAs="String">
          <value>otcs_username</value>
      </setting>
      <setting name="UseSecureCredentials" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="DB_Secret" serializeAs="String">
          <value>P@ssw0rd</value>
      </setting>
      <setting name="DB_Username" serializeAs="String">
          <value>sa</value>
      </setting>
      <setting name="SecureCSDBSecret_Filename" serializeAs="String">
          <value>csdb_secret</value>
      </setting>
      <setting name="SecureCSDBUsername_Filename" serializeAs="String">
          <value>csdb_username</value>
      </setting>
      <setting name="SecureAESKey_Filename" serializeAs="String">
          <value>AES.key</value>
      </setting>
      <setting name="PathMinLength" serializeAs="String">
          <value>243</value>
      </setting>
      <setting name="PathMaxLength" serializeAs="String">
          <value>400</value>
      </setting>
      <setting name="BlockedStartWith" serializeAs="String">
          <value>_vti_</value>
      </setting>
      <setting name="LongFilePathLocation" serializeAs="String">
          <value>D:\t</value>
      </setting>
      <setting name="DestPath" serializeAs="String">
          <value>site/swiftx/</value>
      </setting>
      <setting name="UsingContainsLogic" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="SPOLongFilePathLocation" serializeAs="String">
          <value>D:\l</value>
      </setting>
      <setting name="TargetedNode" serializeAs="String">
          <value>4707</value>
      </setting>
      <setting name="DBSource" serializeAs="String">
          <value>192.168.1.51</value>
      </setting>
      <setting name="APIUrl" serializeAs="String">
          <value>http://192.168.1.51/otcs/llisapi.dll/api/</value>
      </setting>
      <setting name="DBCatalog" serializeAs="String">
          <value>OTCS</value>
      </setting>
      <setting name="OTDSApiURL" serializeAs="String">
          <value>http://192.168.1.51:8080/otdsws/rest/</value>
      </setting>
      <setting name="SourceUrl" serializeAs="String">
          <value>http://192.168.1.51/otcs/cs.exe/app/nodes/{0}</value>
      </setting>
      <setting name="SecureCredentialsPath" serializeAs="String">
          <value>C:\Users\RGTX\Documents\DownloadFilePlan-ExtractCategory-Faay\credentials</value>
      </setting>
      <setting name="SharePointURL" serializeAs="String">
          <value></value>
      </setting>
      <setting name="ExtractTargetedNode" serializeAs="String">
          <value>True</value>
      </setting>
  </DownloadFilePlan.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
	<runtime>
		<enforceFIPSPolicy enabled="false" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>
</configuration>