USE [CSDB]
GO

/****** Object:  UserDefinedFunction [dbo].[fn_llpathwsg]    Script Date: 12/26/2024 3:36:40 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




CREATE OR ALTER FUNCTION [dbo].[fn_llpathwsg] (@dataid INT)
RETURNS VARCHAR(MAX) AS
BEGIN

DECLARE @output VARCHAR(MAX)
DECLARE @objId INT
DECLARE @ready INT

SET @output=''
SET @objId = @dataid
SET @ready =0

WHILE @ready =0
BEGIN
	SELECT @output =Name+'\'+@output,
	@objId=ParentID
	FROM otcs.DTree WITH (NOLOCK)
	WHERE DataID = @objId and DataID != 2000
	IF @@RowCount =0
	SET @ready=1
END

IF LEN(@output) = 0
BEGIN
	SET @output = '- '
END
RETURN LEFT(@output, len(@output) - 1)
END
GO


